body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	line-height: 1.75em;
}

.section h2 {
  border-bottom: solid 1px #CCC;
}

.form-horizontal .control-label.text-left{
    text-align: left;
}

.show-child-on-hover .hover-child {
	display:none;
}

.show-child-on-hover:hover .hover-child {
	display:inline-block;
}

.no-margin {
	margin-top: 0;
	margin-bottom: 0;
}

.inline-25 {
	width: 25px;
	display: inline-block;
}
.inline-50 {
	width: 50px;
	display: inline-block;
}
.inline-100 {
	width: 100px;
	display: inline-block;
}

.minline-100 {
	min-width: 50px;
	display: inline-block;
}
.minline-150 {
	min-width: 100px;
	display: inline-block;
}
.minline-200 {
	min-width: 200px;
	display: inline-block;
}

.indent-left {
	margin-left: 15px;
}
.indent-right {
	margin-right: 15px;
}